<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <script src="../scripts/bootstrap.min.js"></script>
    <script src="../scripts/userpage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Blog Website</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link {{home}}" href="/blogHome">Blog Home</a></li>
                <li class="nav-item"><a class="nav-link {{user_sug}}" href="/user_suggestions">Bloger Suggestion</a></li>
                <li class="nav-item"><a class="nav-link {{trending}}" href="/trending">Trending Blog</a></li>
                <li class="nav-item"><a class="nav-link {{create}}" href="/create_blog">Create blog</a></li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="nav-item dropdown ms-2 d-inline">
                <img alt="profpic" class="float-right d-inline mt-0 mp-0" src="../icons/user.png" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height: 30px;"/>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><h4 class="dropdown-item text-center disabled text-dark" id="username" aria-readonly="true">{{username}}</h4>
                        <p class="text-center disabled text-dark" id="email" aria-readonly="true">{{email}}</p>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/user/{{email}}">Profile</a></li>
                    <li><a onclick="logout()" class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </div>
      </div>
    </nav>
    {{{body}}}
  </body>
</html>