<title>{{suggestion_title}}</title>
<script src="../scripts/mainpageScript.js"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Blog Website</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/blogHome">Blog Home</a></li>
            <li class="nav-item"><a class="nav-link"  href="/user_suggestions">Bloger Suggestion</a></li>
            <li class="nav-item"><a class="nav-link" href="/blog_suggestions">Blog Recommendation</a></li>
        </ul>
        <form class="d-inline-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="nav-item dropdown ms-2">
            <img alt="profpic" class="float-right d-inline mt-0 mp-0" src="../icons/user.png" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height: 30px;"/>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><h4 class="dropdown-item text-center disabled text-dark" id="username" aria-readonly="true">{{username}}</h4>
                    <p class="text-center disabled text-dark" id="email" aria-readonly="true">{{email}}</p>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li><a id="profile-link" class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" href="#">Create Blog</a></li>
                <li><a onclick="logout()" class="dropdown-item" href="#">Logout</a></li>
            </ul>
        </div>
  </div>
</nav>
<div class="container">
  <div class="row row-cols-3">
    {{#each suggestions}}
      <div class="card w-25 m-3">
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">{{this.subject}}</p>
          <a href={{this.link}} class="btn btn-primary">{{this.action}}</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>