<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Blog Website</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/blogHome">Blog Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/user_suggestions">Bloger Suggestion</a></li>
            <li class="nav-item"><a class="nav-link" href="/blog_suggestions">Blog Recommendation</a></li>
        </ul>
        <form class="d-inline-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="nav-item dropdown ms-2">
            <img alt="profpic" class="float-right d-inline mt-0 mp-0" src="../icons/user.png" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height: 30px;"/>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><h4 class="dropdown-item text-center disabled text-dark" id="username" aria-readonly="true">{{username}}</h4>
                    <p class="text-center disabled text-dark" id="email" aria-readonly="true">{{email}}</p>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li><a id="profile-link" class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" href="#">Create Blog</a></li>
                <li><a onclick="logout()" class="dropdown-item" href="#">Logout</a></li>
            </ul>
        </div>
  </div>
</nav>
<div class="container p-6">
  <div class="row mt-5">
    <div class="w-75">
      <div class="row">
        <h1 class="pl-3 display-6 w-50">{{name}}</h1>
        <span>{{{followButton this}}}</span>
      </div>
    </div>
  </div>
  <small class="text-muted mt-2 mb-3">{{trg_email_id}} | {{trg_username}}</small>
  <div class="row">
    <span class="w-50 border">Followers
      <span class="display-6">{{follower}}</span></span>
    <span class="w-50 border">Following
      <span class="display-6">{{following}}</span></span>
  </div>
  <div>Blogs Written <span class="display-6">{{blog_count}}</span></div>
  <div class="container mt-5 border bg-light">
    <h5>Written blogs</h5>
    {{#if blog_count}}
      <div class="row-cols-4 mt-2">
        {{#each blogs}}
          <div class="card w-25 p-2">
            <div class="card-body">
              <h5 class="card-title">{{this.title}}</h5>
              <p class="card-text">{{this.subject}}</p>
              <a href={{this.link}} class="btn btn-primary">{{this.action}}</a>
            </div>
          </div>
        {{/each}}
      </div>
    {{else}}
      <div>No written blogs</div>
    {{/if}}
  </div>
  <hr />
  <div class="container m-5">
    <button onclick={{chart_load_function}} class="btn btn-primary mb-2">Load
      tracking</button>
    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
  </div>
</div>