<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Blog Website</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/blogHome/{{email}}">Blog Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Bloger Suggestion</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Bloger Recommendation</a></li>
        </ul>
        <form class="d-inline-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="nav-item dropdown">
            <img alt="profpic" src="..." class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"/>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><h4 class="dropdown-item text-center disabled text-dark" id="username" aria-readonly="true">{{username}}</h4>
                    <p class="text-center disabled text-dark" id="email" aria-readonly="true">{{email}}</p>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" href="#">Create Blog</a></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
        </div>
  </div>
</nav>

<div class="container mt-5">
    <div class="d-flex justify-content-between mb-0">
        <div class="h1">{{blog.title}}</div>
    </div>
    <div class="text-muted mt-0">{{blog.subject}}</div>
    <div class="d-flex justify-content-between">
        <div class="border">Author: {{blog.email_id}}</div>
        <div class="border">created: {{blog.date}}</div>
    </div>
    <div class="border border-muted border-3 rounded mt-3 p-1">
        <p>{{blog.context}}
        </p>
    </div>
</div>

<section class="container mt-5 mb-5">
    <div>Comments</div>
    <form class="form-group">
    <input type="text" id="comment" class="from-control border border-muted border-2 w-100" placeholder="Click to add comment">
    <input type="button" onclick="createComment()"x`>
    </form>
    <div class="list-group list-group-flush">
        {{#if emtCommentsList}}
            <div class="container text-center mt-3">
                <p>No Comments on this Blog!</p>
            </div>
        {{else}}
            {{#each commentsList}}
                <li class="list-group-item m-2">
                    <div>
                        <b>{{this.email_id}}</b><br>
                        <div class="ps-3">{{this.comment}}</div>
                    </div>
                </li>
            {{/each}}
        {{/if}}
    </div>
</section>